.mainContacts {

    &__top {
        display: flex;
        align-items: center;
        gap: 16px;

        h1 {
            font-weight: 500;

            span {
                color: #C778DD;
            }
        }

        &__line {
            width: 120px;
            height: 1px;
            background: #C778DD;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: #ABB2BF;
        }

        &__links {
            border: 1px solid #ABB2BF;
            padding: 10px;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #ABB2BF;
                gap: 5px;
            }

            a:hover {
                color: white;
            }

            &__text {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}