.mainContacts {

    &__top {
        display: flex;
        align-items: center;
        gap: 16px;

        h1 {
            font-weight: 500;

            span {
                color: #8338ec;
            }
        }

        &__line {
            height: 1px;
            background: #8338ec;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            color: #ABB2BF;
        }

        &__links {
            border: 1px solid #ABB2BF;
            padding: 10px;


            p {
                color: white;
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: #ABB2BF;
                gap: 5px;
            }

            &__text {
                display: flex;
                align-items: center;
                gap: 5px;

                a:hover {
                    color: white;
                }

                a {
                    img {
                        width: 25px;
                        height: 35px;
                    }
                }

            }
        }
    }
}