.mainPage {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.rec2 {
    position: absolute;
    left: calc(50% + 680px);
    top: 800px;
}

.rec3 {
    position: absolute;
    right: calc(50% + 680px);
    top: 1600px;
}

.frame1 {
    position: absolute;
    right: calc(50% + 680px);
    top: 650px;
}

.frame2 {
    position: absolute;
    left: calc(50% + 680px);
    top: 1800px;
}