.mainPage {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 20px;
}

.aboutMePage {
    display: flex;
    flex-direction: column;

    gap: 100px;
}

.rec2 {
    position: absolute;
    left: calc(50% + 650px);
    top: 800px;
}

.rec3 {
    position: absolute;
    right: calc(50% + 640px);
    top: 1600px;
}

.rec4 {
    position: absolute;
    left: calc(50% + 650px);
    top: 250px;
}

.rec5 {
    position: absolute;
    right: calc(50% + 650px);
    top: 1000px;
}

.frame1 {
    position: absolute;
    right: calc(50% + 680px);
    top: 650px;
}

.frame2 {
    position: absolute;
    left: calc(50% + 640px);
    top: 1800px;
}

.frame3 {
    position: absolute;
    right: calc(50% + 640px);
    top: 400px;
}

.frame4 {
    position: absolute;
    left: calc(50% + 680px);
    top: 765px;
}