body {
    background: #282C33;
    font-family: Fira Code;
    margin: 0 auto;
}


h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;

    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}